{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}	
<style type="text/css">
	#main {
		width:100%;
	}
	h1,h2 {
		color:green;
	}
	
	img {
		border: 2px solid grey;
		margin-right: 20px;
	}

	#oupt {
		width:50%;
	}

	input, figcaption {
		font-size: x-large;
	}

	#submit {
		color: white;
		background-color: rgb(40, 167, 69);
		font-size: x-large;
	}

	.control-label {
		font-size: x-large;
	}

	.form-control {
		font-size: medium;
		width: 50%;
	}
</style>
<div class="col-lg-12">	
	<table id="main">
		<tr><td>
			<h1>Convert an image to line art</h1>
			<hr>
			<table>
				<tr>
				<td>
					<figure>
						<figcaption>Image</figcaption>
						<img src="static/cat.jpg">
					</figure>
				</td>
				<td>
					<figure>
						<figcaption>Line art</figcaption>
						<img src="static/cat_line_art.png">
					</figure>
				</td>
				</tr>
			</table>
			<hr>
			<h2>Upload an image</h2>
			<h4><b>Note:</b> Use the alpha levels if the line art has few lines or no lines.</h4>
			<h4>Increasing alpha level removes lines and decreasing alpha level adds more lines</h4>
			{% if form %}
		   		<div>
		   			{{ wtf.quick_form(form) }}
		   		</div>
		   	{% endif %}
		</td></tr>

		<tr><td>
			<hr>
			{% if result == "True" %}
			<h2> Line art created from the image:</h2>	
			{% elif result == "False" %}
				<h2>Please upload an image above</h2>
			{% endif %}
		</td></tr>

		<tr><td>	
			<img id="oupt" src="data:image/png;base64, {{encoded_photo | safe}}">
		</td></tr>

		<tr><td>
			<hr>
			<h3>Made by 
				<a href="https://github.com/InputBlackBoxOutput" target="_blank"> 
				InputBlackBoxOutput
				</a>
			</h3>
			<hr>
		</td></tr>
	</table>
</div>

{% endblock %}